.main {
  display: flex;
  flex-direction: row-reverse;
}

.aside {
  width: 500px;
  background-color: blue;
}
. .title {
  color: gray;
  background: red;
}

.url {
  color: gray;
}

button {
  color: blueviolet;
  background: azure;
}
